@import "audio-ui/globals.css";

@layer base {
  @supports (font: inherit) and (-webkit-appearance: none) {
    [data-wrapper] {
      @apply min-[1800px]:border-t;
    }
  }

  a:active,
  button:active {
    @apply opacity-72 md:opacity-100;
  }
}
